#mainNav .navbar-brand {
  color: #fff;
  font-size: 40px;
}

#mainNav .navbar-brand:hover {
    color: #fff;
}

#mainNav.navbar-shrink .navbar-brand {
    font-size: 1.90em;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 100%;
  font-weight: 900;
}

section {
    padding: 70px 0;
}

.mb-15{
  margin-bottom: 15px
}
