<!-- Services -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="mb-15" src="/img/logos/logoScouts.jpeg" alt="">
        <h2 class="section-heading text-uppercase">Scouts Aldebaran</h2>
        <h3 class="section-subheading text-muted">Siempre listos.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fab fa-angellist fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Siempre listos</h4>
        <p class="text-muted">Esperamos lograr la formación de un individuo consecuente, coherente, dando testimonio con el ejemplo del debe ser. Un individuo capaz de aceptarse con sus propias características y autoestima, que le permita asumir la responsabilidad de desarrollar sus propias capacidades.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-user-friends fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Ayudamos al Projimo</h4>
        <p class="text-muted">Partimos del principio que debemos conocernos globalmente para que en la relación de amistad, armonía y paz con el resto de los pueblos, tales particularidades sirvan de elementos enriquecedores de la relación de confraternidad y paz entre nosotros.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-church fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Relación con Dios</h4>
        <p class="text-muted">Proponemos a los jóvenes la búsqueda de Dios, y el seguimiento de un modelo trascendente. Promovemos la creencia de la proyección de la vida, a través del Espíritu, por lo cual invitamos a todos los niños y joven a practicar la religión con la cual sienta su fe representada.</p>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1907</h4>
                <h4 class="subheading">Lord Robert Badén Powell</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">El Movimiento Scout nació en Inglaterra en 1907 gracias a Lord Robert Badén Powell, uno de los más grandes héroes de guerra británico quien logró imaginar y crear un método educativo para los jóvenes de su época</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Desde 1907 </h4>
                <h4 class="subheading">Expanción</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"> Este método se llama Método Scout y busca desarrollar todas las capacidades y habilidades del individuo, Con asombrosa velocidad, esa experiencia se extendió a todo el mundo y a evolucionando de época en época para adecuarse a los desafíos de los tiempos</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1913</h4>
                <h4 class="subheading">Escultismo en Venezuela</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">En Venezuela el Escultismo tubo su nacimiento en 1913 en el estado Zulia, gracias a las acciones de un joven de apenas 14 años llamado Ramón Ocando Pérez quien conocido a unos scouts en la vecina isla de Curazao y de allí decidió seguir sus pasos en su tierra natal.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Septiembre 2018</h4>
                <h4 class="subheading">Decidimos construir este super Site</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">En septiembre del año 2018 por iniciativa de un grupo de Jóvenes estudiantes de la Carrera de ingeniería decidimos crear este sitio Web para difundir el la cultura de los scouts</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Se parte
                <br>de nuestra
                <br>Historia!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
