<!-- Services -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="mb-15" src="/img/logos/logoScouts.jpeg" alt="">
        <h2 class="section-heading text-uppercase">Scouts Aldebaran</h2>
        <h3 class="section-subheading text-muted">Siempre listos.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fab fa-angellist fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Siempre listos</h4>
        <p class="text-muted">Esperamos lograr la formación de un individuo consecuente, coherente, dando testimonio con el ejemplo del debe ser. Un individuo capaz de aceptarse con sus propias características y autoestima, que le permita asumir la responsabilidad de desarrollar sus propias capacidades.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-user-friends fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Ayudamos al Projimo</h4>
        <p class="text-muted">Partimos del principio que debemos conocernos globalmente para que en la relación de amistad, armonía y paz con el resto de los pueblos, tales particularidades sirvan de elementos enriquecedores de la relación de confraternidad y paz entre nosotros.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-church fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Relación con Dios</h4>
        <p class="text-muted">Proponemos a los jóvenes la búsqueda de Dios, y el seguimiento de un modelo trascendente. Promovemos la creencia de la proyección de la vida, a través del Espíritu, por lo cual invitamos a todos los niños y joven a practicar la religión con la cual sienta su fe representada.</p>
      </div>
    </div>
  </div>
</section>
