<!-- Team -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">¿Quien puede ser un Scout?</h2>
        <h3 class="section-subheading text-muted">Somos Niñas, Niños, Jóvenes y adultos</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
          <h4>Niños</h4>
          <p class="text-muted">Sin distinción de genero</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
          <h4>Adultos</h4>
          <p class="text-muted">Formadores de las futuras generaciones</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
          <h4>Jóvenes</h4>
          <p class="text-muted">Apasionados por la naturaleza</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">La Asociación de Scouts de Venezuela espera lograr la preparación del joven para una vida mejor, para lo cual busca lograr en el niño y el joven la aceptación voluntaria de una escala de valores, que entraña las siguientes dimensiones, sin implicar que son parcialidades, y por el contrario son una integridad indivisible.</p>
      </div>
    </div>
  </div>
</section>
