<!DOCTYPE html>
<html lang="es">
  {% include head.html %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2 class="text-uppercase">{{ page.title }}</h2>
            <p class="item-intro text-muted">{{page.description}}</p>
            <img class="img-fluid d-block" src="{{ page.image }}" alt="">
              {{content}}
            <a href="index.html"><button class="btn btn-primary" style="float:right" type="button">
              <i class="fas fa-times"></i>
              Volver a noticias</button>
          </div></a>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>
